*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header h1 {
    text-align: center;
    font-size: 35px;
    color: white;
}
header {
    padding: 20px;
    background-color: rgb(5, 70, 50);
}